@charset "UTF-8";

body{
	background-color: lightblue;
	
}
.main-box{
	width: 50%;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #aaa;
	text-align: center;
}
ul { padding-left: 0;}
ul > li{
	list-style: none;
}